 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
 }


.header-section {
  height: 615px;
  background-image:
    linear-gradient(
      0deg,
      rgba(16, 16, 16, 0.85) 0%,
      rgba(16, 16, 16, 0.4) 50%,
      rgba(16, 16, 16, 0.1) 100%
    ),
   url(images/hero-bg.png);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

 .container {
   max-width: 1440px;
   margin: 0 auto;
 }

 .header-content {
   max-width: 685px;
   height: 270px;
   margin: 0 auto;
   text-align: center;
    
 }

.subtitle{
   text-align: center;
   color: rgb(255, 255, 255);
   font-size: 20px;
   font-weight: 600;
   line-height: 38px;
   opacity: 0.8;
   margin-bottom: 10px;

 }
 .header-content h1 {
   text-align: center;
   font-size: 36px;
   font-weight: 700;
   line-height: 50px;
   margin-bottom: 14px;
   color:rgb(255, 255, 255);
 }

 .description {
   text-align: center;
   color: rgb(255, 255, 255);
   font-size: 10px;
   font-weight: 500;
   line-height: 16px;
   opacity: 0.7;
   margin-bottom: 32px;
 }

 .btn {
   padding:14px 18px 14px 18px;
   font-size: 12px;
   font-weight: 600;
   line-height: 16px;
   border-radius: 8px;
   background-color:rgb(82, 195, 3);
   border: none;
   cursor: pointer;
   color: white;
 }

 /* experience section */

  
 .experience-title p{
   color: rgb(16, 16, 16);
   font-family: Work Sans;
   font-size: 16px;
   font-weight: 500;
   line-height: 16px;
   letter-spacing: 0%;
   text-align: center;
   opacity: 0.6;
 }
 .experience-title h2 {
   color: rgb(16, 16, 16);
   font-size: 35px;
   font-weight: 700;
   line-height: 35px;
  text-align: center;
  margin-bottom: 50px;
  padding-top: 13px;
 }

 .experience-items {
   display: flex;
   text-align: center;
   align-items: center;
   line-height: 40px;
   margin-bottom: 100px;
 }
 .item {
   padding-top:10px;
   margin: 30px;
    
 }
 
 .item img {
  width: 100%;
  margin-bottom: 20px;
 }

 .item span {
   padding:10px 18px 10px 18px;
   background-color:rgba(82, 195, 3, 0.15);
   padding-bottom: 20px;
   border-radius: 8px;
 }

 .item h3 {
   padding: 20px 0px 20px 0px;
   font-size: 40px;
   font-weight: bold;
 }